.characteristics__header {
  background-color: #ffffff;

  padding-top: 7px;
}

.characteristics__header-text {
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;

  margin: 0;

  padding-left: 55px;
  padding-right: 55px;
  padding-top: 31px;
}

.characteristics__wrapper {
  background-color: #f2f2f2;
}

.characteristics__list {
  width: 320px;

  list-style: none;
  padding: 0;
  margin: 0 auto;

  padding-top: 48px;
}

.characteristics__item {
  padding-top: 32px;

  &:first-child {
    padding: 0;
  }
}

.characteristics__item-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.6px;

  margin: 0;

  text-align: center;
}

.characteristics__item-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  margin: 0;

  text-align: center;
}

.characteristics__phone-hello {
  min-width: 320px;
  min-height: 320px;

  background-color: #f2f2f2;
}

.characteristics__phone-image {
  position: relative;
  bottom: -40px;

  display: block;
  margin: 0 auto;
}

@media (max-width: @mobile-width-only) {
  .characteristics {
    width: 100%;
    min-width: 320px;

    margin: 0 auto;
  }

  .characteristics__item-image {
    display: none;
  }

  .characteristics__effect {
    display: none;
  }
}

@media (max-width: @desktop-width) {
  .characteristics__item-image {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .characteristics__header-text {
    font-size: 40px;
    line-height: 48px;

    padding-top: 42px;
    padding-left: 24px;
    padding-right: 32px;

    &:nth-child(n+2) {
      padding-top: 0;
      padding-left: 160px;
      padding-right: 160px;
    }
  }

  .characteristics__list {
    padding-top: 20px;

    width: 660px;
  }

  .characteristics__item {
    width: 320px;

    padding-left: 29px;
    padding-top: 35px;

    margin-left: 300px;

    &:first-child {
      padding-left: 29px;
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 42px;
    }
  }

  .characteristics__item-title {
    text-align: left;
  }

  .characteristics__item-content {
    text-align: left;

    padding-left: 0;
    padding-right: 11px;
  }

  .characteristics__phone-hello {
    padding: 0;

    width: 660px;

    margin-top: -484px;
    margin-left: 75px;
    margin-right: auto;

    background-color: transparent;
  }

  .characteristics__phone-image {
    width: 267px;
    height: 484px;

    bottom: 0;

    margin: 0;
  }

  .characteristics__effect-wrapper {
    background-color: #ffffff;

    padding-top: 5px;
  }

  .characteristics__effect {
    position: relative;

    width: 660px;
    margin: 0 auto;

    padding-bottom: 30px;

    &::before {
      position: absolute;

      top: -38px;
      left: 20px;
      content: "";

      width: 240px;
      height: 275px;

      background-image: url("../img/icon-timer.svg");
      background-size: 240px 275px;
    }

    &::after {
      position: absolute;

      top: 17px;
      left: 39px;
      content: "24";

      font-size: 96px;
      font-weight: 700;

      color: #d22856;

      border: 13px solid #d22856;
      border-radius: 100%;

      padding: 34px 35px;
    }
  }

  .characteristics__effect-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;

    margin: 0;
    margin-bottom: 9px;
    margin-top: 92px;
    margin-left: 329px;

    padding-right: 160px;
  }

  .characteristics__effect-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.3px;

    margin: 0;
    margin-bottom: 11px;
    margin-left: 329px;

    padding-right: 32px;
  }

  .characteristics__effect-br {
    display: none;
  }

  .characteristics__effect-br--none {
    display: block;
  }

  .characteristics__effect-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.3px;

    margin-left: 329px;

    color: #d22856;
  }
}

@media (min-width: @desktop-width) {
  .characteristics__header-text {
    font-size: 50px;
    letter-spacing: 0.3px;

    padding-top: 66px;

    &:nth-child(n+2) {
      padding-top: 5px;
      padding-left: 365px;
      padding-right: 365px;

      line-height: 60px;
    }
  }

  .characteristics__list {
    display: flex;
    flex-wrap: wrap;

    width: 1200px;

    padding: 0;
  }

  .characteristics__item {
    margin: 0;
    padding: 0;

    margin-left: 2px;

    &:first-child {
      padding-left: 131px;
    }

    &:nth-child(3n+4) {
      padding-left: 131px;
    }
  }

  .characteristics__item-image {
    margin-top: -102px;
  }

  .characteristics__item-title {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1.2px;

    padding-right: 64px;
    padding-left: 32px;

    margin-top: 55px;

    text-align: center;
  }

  .characteristics__item-content {
    margin-top: 21px;

    padding: 0;
    padding-right: 57px;
    padding-left: 29px;

    text-align: center;
    line-height: 30px;
    font-size: 18px;

  }

  .characteristics__phone-hello {
    display: none;
  }

  .characteristics__effect-wrapper {
    background-color: inherit;

    padding-top: 0;
  }

  .characteristics__effect {
    width: 1200px;
    min-height: 300px;

    padding: 0;
    padding-bottom: 115px;

    margin-top: -100px;

    background-color: #f2f2f2;

    &::before {
      width: 300px;
      height: 345px;

      top: 30px;
      left: 130px;

      background-repeat: no-repeat;
      background-size: 300px 345px;
    }

    &::after {
      font-size: 120px;

      top: 102px;
      left: 156px;

      padding: 42px 42px;
    }
  }

  .characteristics__effect-title {
    margin-left: 495px;
    margin-bottom: 21px;

    letter-spacing: 0.3px;

    padding-top: 123px;
  }

  .characteristics__effect-br {
    display: none;
  }

  .characteristics__effect-content {
    margin-left: 496px;
    margin-bottom: 34px;

    font-size: 18px;
    line-height: 30px;

    padding-right: 175px;
  }

  .characteristics__effect-link {
    margin-left: 496px;

    font-size: 18px;
  }
}
