.linear-gradient {
  width: 100%;
  min-width: 320px;
  height: 30px;

  background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);

  margin-top: 32px;
}

.linear-gradient--feedback {
  margin-top: 45px;
}

@media (min-width: @tablet-width) {
  .linear-gradient {
    height: 59px;
  }

  .linear-gradient--characteristics {
    margin-top: 42px;
  }

  .linear-gradient--feedback {
    margin-top: 24px;
  }
}

@media (min-width: @desktop-width) {
  .linear-gradient {
    height: 107px;

    margin-top: 70px;
  }

  .linear-gradient--feedback {
    height: 99px;

    margin-top: 35px;
  }
}
