.linear-gradient {
  width: 100%;
  height: 30px;

  background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);

  margin-top: 36px;
}

@media (min-width: @tablet-width) {
  .linear-gradient {
    height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .linear-gradient {
    height: 100px;

    margin-top: 90px;
  }
}
