.page-footer {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
}

.page-footer__logo {
  margin: 40px 86px;
}

.page-footer__logo-link {
  &:hover {
    .logo__pink-footer {
      fill: #d22856;
    }
  }

  &:active {
    .logo__pink-footer,
    .logo__glasses-point {
      fill: rgba(40, 54, 69, 0.3);
    }

    .logo__glasses-pink-point,
    .logo__point {
      fill: rgba(210, 40, 86, 0.3);
    }

    .logo__glasses-pink {
      fill: rgba(210, 40, 86, 0.3);
    }
  }
}

.page-footer__social {
  width: 200px;

  margin-left: 71px;
  margin-right: 71px;
}

.social-links__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 47px;
  height: 42px;

  border: 3px solid #e9ebec;
  border-radius: 50% 50%;

  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(3n+4) {
    margin-left: 0;
  }

  &:hover {
    border-color: #2e3b4a;
  }

  &:active {
    border-color: #e9ebec;

    .social-links__link-image path {
      fill: #f1becc;
    }
  }
}

.social-links__link-image {
  fill: #d22856;
}

.page-footer__copyright {
  display: flex;

  margin-top: 40px;
  margin-left: 90px;
  margin-right: 90px;
}

.page-footer__copyright-description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  margin: 0;
  margin-right: 16px;

  padding-top: 5px;
  padding-left: 5px;
}

.page-footer__copyright-logo {
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #bec2c7;
  }
}

@media (max-width: @tablet-width) {
  .page-footer--index {
    display: none;
  }
}

@media (max-width: @desktop-width) {
  .logo__glasses-point {
    display: none;
  }

  .logo__glasses-pink-point {
    display: none;
  }

  .logo__point {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 620px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;

    background-color: #ffffff;
    position: absolute;

    margin: 0 auto;

    left: 0;
    right: 0;
    bottom: 3px;
  }

  .page-footer--photo {
    padding-top: 32px;
  }

  .page-footer__logo {
    margin: 0;
    margin-top: -7px;
  }

  .page-footer__social {
    margin: 0;
    margin-top: 49px;
  }

  .social-links__list {
    margin-top: -42px;

    padding-left: 4px;
  }

  .social-links__item {
    width: 47px;
    height: 43px;
  }

  .page-footer__copyright {
    margin: 0;
    margin-top: 17px;
  }

  .page-footer__copyright-description {
    padding-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;

    margin-top: 25px;
    margin-bottom: 65px;

    padding-top: 69px;
    padding-left: 239px;
    padding-right: 237px;

    bottom: -132px;
  }

  .page-footer--form {
    margin-top: -2px;
  }

  .page-footer--index {
    bottom: -131px;

    position: absolute;

    .page-footer__social {
      margin-left: -7px;
    }
  }

  .page-footer__copyright-description {
    font-size: 18px;

    padding-top: 5px;

    margin-right: 17px;
  }

  .social-links__list {
    padding-left: 20px;
  }

  .logo__glasses-pink {
    display: none;
  }
}
