//.download

.download {
  position: relative;

  background-color: #1d2631;
}

.download__photo-iphone {
  position: absolute;

  top: 495px;
  left: 0;
}

.download__btn {
  padding: 40px 60px;

  text-decoration: none;

  font-size: 18px;
  font-weight: 700;
  color: #ffffff;

  border: 8px solid #ffffff;
  border-radius: 80px 80px;
}

.download__devices-list {
  list-style: none;
}

.download__availability {

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #d3d4d5;

}



//characteristics

.characteristics__header {
  background-color: #ffffff;
}

.characteristics__header-text {
  font-size: 24px;
  font-weight: 400;
  color: #283645;
  text-align: center;

  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
}

.linear-gradient {
  width: 964px;
  height: 80px;

  background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);

  margin-top: 40px;
}

.characteristics__list {
  list-style: none;
  padding: 0;
  margin: 0;

  padding-top: 60px;

  background-color: #f2f2f2;
}

.characteristics__item-title {
  font-size: 18px;
  font-weight: 700;

  text-align: center;
}

.characteristics__item-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;

  text-align: center;
}

.characteristics__phone-hello {
  position: relative;

  width: 964px;
  height: 970px;

  margin-top: -45px;

  background-color: #f2f2f2;
}

.characteristics__phone-image {
  position: absolute;

  top: 175px;
  left: 240px;
}
