.page-footer {
  width: 320px;
  min-height: 285px;
}

.page-footer__logo {
  padding: 39px 61px;
}

.social-links__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links__link-image {
  fill: #d22856;
}

.page-footer__copyright-description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page-footer__copyright-logo {
  fill: #d22856;
}
