// index.html

.download {
  position: relative;

  background-color: #1d2631;
}

.download__photo-iphone {
  position: absolute;

  top: 495px;
  left: 0;
}

.download__btn {
  padding: 40px 60px;

  text-decoration: none;

  font-size: 18px;
  font-weight: 700;
  color: #ffffff;

  border: 8px solid #ffffff;
  border-radius: 80px 80px;
}

.download__devices-list {
  list-style: none;
}

.download__availability {

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #d3d4d5;

}

.characteristics__header {
  background-color: #ffffff;
}

.characteristics__header-text {
  font-size: 24px;
  font-weight: 400;
  color: #283645;
  text-align: center;

  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
}

.linear-gradient {
  width: 964px;
  height: 80px;

  background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);

  margin-top: 40px;
}

.characteristics__list {
  list-style: none;
  padding: 0;
  margin: 0;

  padding-top: 60px;

  background-color: #f2f2f2;
}

.characteristics__item-title {
  font-size: 18px;
  font-weight: 700;

  text-align: center;
}

.characteristics__item-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;

  text-align: center;
}

.characteristics__phone-hello {
  position: relative;

  width: 964px;
  height: 970px;

  margin-top: -45px;

  background-color: #f2f2f2;
}

.characteristics__phone-image {
  position: absolute;

  top: 175px;
  left: 240px;
}



// photo.html

.main-page__title-wrapper {
  width: 964px;
  height: 500px;

  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 964px;
}

.main-page__title {
  font-size: 24px;
  font-weight: 400;

  color: #ffffff;
}

.photo__title {
  width: 964px;
  height: 500px;

  background-color: #ffffff;
}

.photo__title-text {
  font-size: 50px;
  font-weight: 500;

  text-align: center;

  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 85px;
}

.photo-recent__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-recent__description-wrapper {
  width: 750px;
  height: 350px;

  background-color: #f2f2f2;
}

.photo-recent__author {
  font-size: 14px;
  font-weight: 700px;
}

.photo-recent__time-ago {
  font-size: 12px;
  font-weight: 400;
}

.photo-recent__text {
  font-size: 14px;
  line-height: 24px;
}

.photo-recent__likes {
  font-size: 14px;

  color: #d22856;
}
