.main-page__wrapper {
  min-width: 320px;
  min-height: 237px;

  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.main-page__title {
  margin: 0;

  padding-top: 90px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 80px;

  font-size: 24px;
  font-weight: 300;
  text-align: center;

  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .main-page__wrapper {
    min-height: 320px;

    background-color: #283645;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: 20% 20%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .main-page__title {
    font-size: 50px;

    padding-left: 155px;
    padding-right: 155px;
    padding-top: 140px;
  }

  .main-page__title-contest {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (min-width: @desktop-width) {
  .main-page__wrapper {
    min-height: 395px;

    background-color: #283645;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: 50% 0%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-page__title {
    padding-top: 180px;
    padding-left: 420px;
    padding-right: 420px;
    padding-bottom: 110px;
  }

  .main-page__title-contest {
    padding-left: 220px;
    padding-right: 220px;
  }
}
