.main-nav__intro {
  background-color: #283645;
}

.main-nav__logo-image {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
}

.main-nav__wrapper {
  background-color: #283645;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  border-top: 1px solid #000001;
}

.main-nav__item {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 90px;
  padding-right: 90px;

  text-align: center;

  border-top: 2px solid #485461;
  border-bottom: 2px solid #000001;
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: #6c3149;
  }
}
